body {
	color: #000;
        height: 100%;
        margin-bottom:60px;
}

html {
    position:relative;
    min-height: 100%;
}

nav {
    background-color: white;
    font-size: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px 10px;
}

ul {
    margin-right: 100px;
}

li {
    padding-left: 5px;
}

a {
    text-decoration: none;
    margin: 0 5px;
    padding: 10px;
}
			
a:link{
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: black;
    background: #F7F7F7;
}

#conteudo {
    font-size: 20px;
    padding-top: 50px;
    margin-top: 62px;
    padding-bottom: 50px;
    text-align: center;
}

#footer {
	text-align: center;
   	bottom:0;
        position:absolute;
   	height:60px;
   	width:100%;
   	background:white;
   	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   	padding-top: 17px;
}

input[type="text"] {
    
}

.btn-dark {
    background-color: #496794;
    min-width: 100px;
}
